<!-- this things we can achive from interpolation -->

<h1>this is my angular interpolation {{title}}</h1>
<h1 class="{{title}}">hello angular {{title}}</h1>
<h1>devloper name by  interpolation is {{message}}</h1>
<h1>call the function {{getValue()}}</h1>
<h1>we can do operations {{20+20}}</h1>
<h1>check booleans also {{title=="databinding"}}</h1>

<!-- For call th function with parameter  -->

<button (click)="getName('satya yadav','prakash')">Click Me</button>

 <!-- for Event -->
<button (click)="getData('hello')">function call</button>
<br /> <br />
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup" />


<!-- what we can not achive by interpolation -->
<!-- we can not check data types here
incrimenet and decrement also not working here -->

